// http://colrd.com/palette/18872/
$red:         #d73027;
$orange:      #fc8d59;
$yellow:      #fee090;
$lt-blue:     #e0f3f8;
$medium-blue: #91bfdb;
$blue:        #4575b4;


$body-color: #000;
$body-bg:    #FFF;
