body {
  color: $body-color;
  font: 400 100%/1.6 "Lato", Helvetica, Arial, sans-serif;
  background: $body-bg;
}

h1 { font-family: "Abril Fatface", serif; }

.maincontent, .mainfooter {
  padding: 12pt;
}

.wrap {
  @include container;
  main & { padding-top: 12pt; padding-bottom: 12pt; }
}
